<div class="cloud-wrapper">
    <svg id="cloud0" class="cloud top left purple" viewBox="0 0 559 551" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0L558.5 0C558.5 0 532.5 64 492 102.5C462.019 131 423.5 139 383.5 196C327.418 275.917 365.5 328.306 316 372C266.5 415.694 222.903 406.171 138 435C65.9765 459.456 0 551 0 551V0Z" />
    </svg>

    <svg id="cloud1" class="cloud top right pink" viewBox="0 0 614 467" xmlns="http://www.w3.org/2000/svg">
        <path d="M614 0L614 467C614 467 542.682 445.26 499.78 411.395C468.022 386.326 459.107 354.117 395.59 320.671C306.536 273.777 248.157 305.62 199.466 264.229C150.776 222.839 161.389 186.385 129.263 115.391C102.011 55.1674 0 0 0 0H614Z" />
    </svg>

    <svg id="cloud2" class="cloud bottom left blue" viewBox="0 0 745 383" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 383.5L0 0C0 0 56.6207 67.5 112.5 67.5C230 67.5 214 17.6053 311.5 33C409 48.3947 430.806 140.5 474.5 190C518.194 239.5 560.636 220.836 639.5 263.5C731 313 745 383.5 745 383.5H0Z" />
    </svg>
        
    <svg id="cloud3" class="cloud bottom right yellow" viewBox="0 0 735 399" xmlns="http://www.w3.org/2000/svg">
        <path d="M735 399H0C0 399 8.02409 332.3 85.0547 299.517C189.367 255.125 267.919 292.367 297.424 240.149C326.928 187.931 348.056 128.233 442.926 104.831C537.795 81.4296 557.937 121.412 660.109 75.9491C726.12 46.577 735 0 735 0V399Z" />
    </svg>
</div>