<header class="header row mb-5">
    <nav class="col-12 col-md-8 col-lg-6 ">
        <% for (let item in config.menu) { %>
            <a 
                class="<%= page.title === item.toLowerCase() ? 'active' : '' %>" 
                href="<%= config.menu[item] %>"> 
                    <%= item %> 
            </a>
        <% } %>
    </nav>
</header>

