<header class="header row mb-5">
    <div class="mobile-nav">
        <input type="checkbox" id="mobile-menu-checkbox"/>
        <label for="mobile-menu-checkbox" class="mobile-nav-btn"></label>
        <div class="mobile-nav-content">
            <%- partial('menu_list') %>
        </div>
    </div>
    <nav class="col-12 col-md-8 col-lg-6 ">
        <%- partial('menu_list') %>
    </nav>
</header>

