<header class="header row home">
    <div class="mobile-nav">
        <input type="checkbox" id="mobile-menu-checkbox"/>
        <label for="mobile-menu-checkbox" class="mobile-nav-btn">menu</label>
        <div class="mobile-nav-content">
            <% for (let item in config.menu) { %>
                <a 
                    class="<%= page.title === item.toLowerCase() ? 'active' : '' %>" 
                    href="<%= config.menu[item] %>"> 
                        <%= item %> 
                </a>
            <% } %>
        </div>
    </div>
</header>

