html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style:scrollbar;
}

*,::after,::before {
  -webkit-box-sizing:inherit;
  box-sizing:inherit
}

/*
 * Remove text-shadow in selection highlight:
 */

::-moz-selection {
  background: $grey-2;
  text-shadow: none;
}
::selection {
  background: $grey-2;
  text-shadow: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.no-events {
  pointer-events: none;
}

@-ms-viewport {
  width: device-width;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $grey-3;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset, ul {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
  resize: none;
  max-height: 10em;
}

/* added */

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus,
button:hover, button:focus,
.btn:hover, .btn:focus {
  cursor: pointer;
  outline: none;
}

input:focus, textarea:focus {
  outline: none;
}

input:disabled:hover {
  cursor: not-allowed;
}

ul {
  list-style: none;
}