/* Chart */

#chart {
  flex-grow: 1;
  position: relative;
}
.scrollable {
  overflow-x: auto;
  white-space: nowrap;
  margin-left: -20px;
  position: absolute;
  top: 1.5rem;
  right: 0;
}
g.x2.axis {
  font-size: .8rem;
  .minor, .domain {
    fill: $grey-7;
  }
  .major {
    fill: $grey-6;
    font-size: .8em;
    &:nth-child(5n-4) {
      fill: $grey-7;
      font-size: 1em;
    }
  }
}
.y.axis {
  align-self: stretch;
  justify-content: space-between;
  margin-left: 20px;
  padding: 3.5rem 1.5rem 6rem 0; // 2rem 2rem 3.5rem 0
  background-color: $bg-color;
  white-space: nowrap;
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 990;
  .bar {
    background: $blue; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $blue, $red); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $blue, $red); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 3px;
    flex-grow: 1;
    margin: -10px 0;
  }
}
line {
  stroke: rgba(255,255,255,0.3);
  &.dashed-line {
    stroke-dasharray: 3,7;
  }
  &.solid-line {
    
  }
}
.node {
  transition: opacity .2s linear;
  &.transparent {
    opacity: 0.3;
  }
  &.active {
    opacity: 1 !important;
  }
}
.node:active,
.node:focus,
.node:hover {
  cursor: pointer;
}
.node:active ~ .subnode,
.node:focus ~ .subnode,
.node:hover ~ .subnode {
  opacity: 1;
}
.node:active ~ .nodetxt,
.node:focus ~ .nodetxt,
.node:hover ~ .nodetxt {
  opacity: 0;
}
.nodetxt {
  font-size: .85em;
  opacity: 1;
  fill: rgba(255,255,255,0.9);
  pointer-events: none;
  transition: opacity .2s linear;
}
.subnode {
  pointer-events: none;
  opacity: 0;
  fill: rgba(0,0,0,0.6);
  transition: opacity .2s linear;
  font-size: .75em;
}
.subnode.txt {
  fill: rgba(255, 255, 255, 0.75)
}
