header.header {
    padding: 2rem 0;
    margin-bottom: $spacing-unit * 3;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 997;

    &.home {
        position: absolute;
        @media (min-width: $on-medium) {
            right: 2.5rem;
            top: calc(50% - 50px);
            .mobile-nav {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: relative;
            }
        }
    }

    #mobile-menu-checkbox {
        display: none;
        &:checked {
            &~ .mobile-nav-btn:before {
                content: "X";
                font-size: 300%;
                margin-right: 0;
                @media (min-width: $on-medium) {
                    margin-right: 2rem;
                }
            }
            &~ .mobile-nav-content {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .mobile-nav-content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: #7c4dff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // text-align: left;
        font-size: 3rem;
        font-weight: bold;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s ease;
        a {
            color: #fff;
            width: fit-content;
            padding: 0 1rem;
            transition: color .5s ease;
            &:hover {
                color: #000;
            }
        }
    }

    .mobile-nav-btn {
        background-color: $brand-color;
        border-radius: 50%;
        color: #fff;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .mobile-nav-btn {
        background-color: $brand-color;
        border-radius: 50%;
        color: #fff;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1000;
        &:before {
            content: "menu";
        }
    }
    .mobile-nav {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-around;
        a {
            color: $text-color;
            opacity: .8;
            &.active {
                opacity: 1;
                color: #000;
                font-weight: bold;
            }
        }
    }

    @media (max-width: $on-medium) {
        background-color: transparent;
        nav {
            display: none;
        }
        .mobile-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
    }

}


