html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
    background-color: #bef0f0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  ::selection {
    background: $text-color;
    color: $background-color;
    text-shadow: none;
  }
  ::-moz-selection {
    background: $text-color;
    color: $background-color;
    text-shadow: none;
  }
  
  /**
   * Reset some basic elements
   */
  html, body, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, hr,
  dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
  }
  
  /**
   * Basic styling
   */
  body {
    width: 100%;
    // overflow-x: hidden;
  
    font: $base-font-weight #{$base-font-size-mobile}/#{$base-line-height} $base-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
  
    background-color: #bef0f0;

    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    overflow-wrap: break-word;
  
    @media screen and (min-width: $on-large) {
      font-size: $base-font-size;
    }
    
  }

  #root {
    background-color: $background-color; 
  }
  
  
  
  /**
   * Set `margin-bottom` to maintain vertical rhythm
   */
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  ul, ol, dl, figure,
  %vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
  }
  
  
  /**
   * Images
   */
  img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
  }
  
  
  /**
   * Lists
   */
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  /**
   * Text
   */
  strong {
    font-weight: 500;
  }
  .small {
    font-family: 'Inconsolata', monospace;
    font-size: 0.85rem;
    display: inline-block;
    margin-top: 10px;
    &:after {
      display: none;
    }
  }
  
  
  /**
   * Links
   */
  a {
    color: $brand-color;
    text-decoration: none;
    transition: opacity .5s ease;
    
    &.border-link {
      border-bottom: 2px solid $brand-color;
      padding-bottom: .15rem;
    }

    &.black {
        color: #000;
    }
  
    &:hover {
      opacity: 0.7;
    }
  
  }
  
  /* click & select control */
  .pointer {
    cursor: pointer;
  }
  .noclick, .noclick * {
    pointer-events: none !important;
  }
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
    }


/* border */
.overall-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: calc(var(--vh, 1vh) * 100);
    // min-height: 100vh;
    // min-height: 100%;
    border: 1.7rem solid #bef0f0; // 1rem solid $grey-color-dark;
    z-index: 999;
    pointer-events: none;
    transition: border-color .5s ease-in-out;
    @media (max-width: 767px) {
        border-width: 1rem;
        // min-height: 100dvh;
        &:after {
          content: "";
          top: 100%;
          left: -1.7rem;
          position: absolute;
          width: 100%;
          height: 300px;
          background-color: #bef0f0;
          border: 1.7rem solid #bef0f0;
          box-sizing: content-box;
        }
    }
}

.full-height {
    width: 100%;
    min-height: 100vh;
    // min-height: 100%;
    // min-height: 100dvh;
}

.bg-white {
    background-color: $background-color;
}

.bg-red {
    background-color: $brand-color;
}

.bg-gradient {
    background: linear-gradient(0deg, $brand-color 0%, $background-color 100%);
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.text-white {
    color: #fff;
}
.text-black {
    color: #000;
}
.text-muted {
  color: $grey-color;
}
.text-gray {
  color: $grey-color-dark;
}
.text-small {
  font-size: 95%;
}
.text-bold {
  font-weight: 500;
}
.text-mono {
  font-family: "input-mono-narrow", monospace;
  font-weight: 400;
  font-style: normal;
}

hr {
  border: 1px solid $grey-color-light;
}

b, strong {
  font-weight: bold;
}