.logo {
    position: fixed;
    top: 3rem;
    left: 3rem;
    z-index: 999;
    max-width: 60px;
}

.nav {
    z-index: 999;
}

.menu {
    li > a {
        color: #fff;
        margin-bottom: .3rem;
        display: inline-block;
        position: relative;
        &.active {
            font-weight: 900;
        }
    }
}

@media screen and (min-width: 768px) {
    .nav {
        width: 100%;
        display: flex;
        height: 93px;
        padding-bottom: 17px;
        align-items: flex-end;
        position: sticky;
        top: 0;
        justify-content: flex-end;
        background-color: rgba(255, 255, 255, 0.95);
    }
    .menu {
        width: 500px;
        padding-right: 5rem;
        ul {
            display: flex;
            justify-content: space-between;
            li > a {
                color: $text-color;
            }
        }
    }

}



/* --- Handling the responsive/toggle nav --- */
.mobile-menu {
    display: none;
    @media screen and (min-width: 768px) {
        display: none;
    }
    li > a.active {
        font-weight: 900;
        &:before {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background-color: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: -1.2rem;
        }
    }
}
div.menu-toggle {
    font-size: 3em;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration:none;
    color: $grey-color;
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 999;
    span {
        font-size: 2rem;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-menu-toggled {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    background-color: $grey-color-dark;
    z-index: 998;
    width: 100%;
}
.desktop-menu {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
    ul {
        display: flex;
        li.menu-item-has-children > ul {
        display: none;
        }
        
        li.menu-item-has-children {
            &:hover > ul {
                display: block;
                position: absolute;
            }
        }
    }
}
