html {
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-moz-selection {
  background: #baa2ff;
  text-shadow: none;
}

::selection {
  background: #baa2ff;
  text-shadow: none;
}

::-moz-selection {
  background: #baa2ff;
  text-shadow: none;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 300 14.8px/1.6 "PT Sans", "Ubuntu", -apple-system, BlinkMacSystemFont, Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #828282;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 1rem;
}
@media screen and (min-width: 800px) {
  body {
    font-size: 16px;
    padding: 0;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #7c4dff;
}

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  width: 100%;
  vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 1rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/**
 * Links
 */
a {
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

a[href]:hover {
  color: #828282;
  opacity: 0.9;
  text-decoration: none;
}

.indent {
  padding-left: 1rem;
}

.text-muted {
  color: #828282;
}

.text-serif {
  font-family: "Cardo", "Times New Roman", "Times", TimesNewRoman, Times, -apple-system, serif;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

small {
  font-family: "Inconsolata", monospace;
  font-size: 0.85rem;
  display: inline-block;
}

.align-items-center {
  align-items: center;
  display: flex;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  padding: 3rem 0;
  margin-top: 4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* margin */
.mb-1 {
  margin-bottom: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.mb-3 {
  margin-bottom: 2rem !important;
}

.mb-4 {
  margin-bottom: 3rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-3 {
  margin-top: 2rem !important;
}

.mt-4 {
  margin-top: 3rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

@-webkit-keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-3deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(0deg);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-3deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(0deg);
  }
}
.float {
  -webkit-animation: float 3s ease 1s infinite;
          animation: float 3s ease 1s infinite;
}

.wave {
  -webkit-animation: wave 4s 1s both infinite;
          animation: wave 4s 1s both infinite;
}

header.header {
  padding: 2rem 0;
  margin-bottom: 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #828282;
  opacity: 0.8;
}
nav a.active {
  opacity: 1;
  color: #000;
  font-weight: bold;
}

.cloud-wrapper .cloud {
  width: 30%;
  position: fixed;
  transition: transform 0.5s ease;
  z-index: 1000;
}
.cloud-wrapper .cloud.top {
  top: -10px;
}
@media screen and (min-width: 800px) {
  .cloud-wrapper .cloud.top {
    top: -20px;
  }
}
.cloud-wrapper .cloud.bottom {
  bottom: 0px;
}
@media screen and (min-width: 800px) {
  .cloud-wrapper .cloud.bottom {
    bottom: -20px;
  }
}
.cloud-wrapper .cloud.left {
  left: -15px;
}
@media screen and (min-width: 800px) {
  .cloud-wrapper .cloud.left {
    left: -30px;
  }
}
.cloud-wrapper .cloud.right {
  right: -10px;
}
@media screen and (min-width: 800px) {
  .cloud-wrapper .cloud.right {
    right: -20px;
  }
}
.cloud-wrapper .cloud.purple path {
  fill: #baa2ff;
  opacity: 0.6;
}
.cloud-wrapper .cloud.pink path {
  fill: #eebefa;
  opacity: 0.7;
}
.cloud-wrapper .cloud.yellow path {
  fill: #ffffbf;
}
.cloud-wrapper .cloud.green path {
  fill: #ccff90;
}
.cloud-wrapper .cloud.blue path {
  fill: #baffff;
}

.exp {
  position: relative;
}
.exp .date {
  position: absolute;
  top: 0;
  right: 0;
}

.profile {
  width: 250px !important;
}

.multi-select {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.multi-select .si-result {
  color: #000 !important;
}
.multi-select .si-list {
  background-color: rgba(255, 255, 255, 0.95);
}
.multi-select .si-list .si-item:first-child {
  border-top: 1px solid;
}

.project {
  padding-right: 1rem;
}
.project .project-wrapper {
  display: block;
  border: 1px solid #ddd;
  padding: 1rem;
  transition: transform 0.5s ease;
}
.project .project-wrapper:hover {
  transform: translateY(-7px);
}

.image-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.image-wrapper img {
  height: 300px;
  width: auto;
}/*# sourceMappingURL=main.css.map */