<section class="row mt-5 text-center">
    <h2 class="text-serif"><b>✨ Jaeyoon Song ✨</b></h2>
</section>

<section class="row text-center">
    <p>Jaeyoon Song is a researcher, developer, and designer<br/>
    currently based in Cambridge, MA</p>
</section>


<section class="row text-center">
    <canvas></canvas>
</section>