<div class="home">
    <section class="row mt-5 text-center">
        <h2 class="text-serif"><b>✨ Jaeyoon Song ✨</b></h2>
    </section>

    <section class="row text-center">
        <p>Jaeyoon Song is a researcher, developer, and designer<br/>
        currently based in Cambridge, MA</p>
    </section>


    <section class="row text-center">
        <%- partial('partial/menu_home') %>

        <canvas id="three-canvas" class="float"></canvas>
    </section>
</div>

<script type="module" src="/js/home.js"></script>